<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload and Display</title>
  <link rel="stylesheet" href="css/app1.css">


</head>
<body>
<div class="header">
  <span class="user-name">사용자 이름</span>
  <button class="logout-btn">logout</button>
</div>
<div class="content">
  <button class="upload-image-btn">이미지 업로드</button>
  <input type="file" accept="image/*" multiple class="multi-image-input" style="display:none;">
  <div class="image-display"></div>
</div>
<!-- 모달 팝업 구조 -->
<div class="modal" id="imageModal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <img class="modal-image">
  </div>
</div>

<button onclick="getUser()"> asasdfsadfasddf </button>
</body>
 <!-- Javascript Assets -->
  <script src="js/app1.js"></script>

  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>
